body {
  margin: 0px;
  box-sizing: border-box;
}
.Container {
  margin-left: 80px;
  margin-right: 80px;
}
.header-Container {
  background: rgba(255, 144, 14, 0.1);
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.title {
  margin-left: 80px;
}
.navbar-list {
  margin: 20px;
  margin-right: 80px;
}
span {
  margin: 10px;
}
.banner-details {
  text-align: center;
}
button {
  width: 110px;
  height: 44px;
  border: none;
  background-color: #ff900e;
  color: white;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.banner img {
  width: 87%;
  margin-left: 82px;
}
.features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  gap: 5px;
  margin: 80px;
}
.features-details {
  grid-column-start: 5;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 1;
  margin-top: 200px;
}
.love {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 80px;
  margin-right: 80px;
  column-gap: 80px;
}
.love-img img {
  width: 100%;
}
.love-btn {
  width: 252px;
  height: 150px;
  position: relative;
  bottom: 100px;
  right: 50px;
}
.Facts-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Facts {
  border: 1px solid #ff900e;
  margin-left: 20px;
  text-align: center;
  padding: 50px;
  margin: 30px;
  border-radius: 7px;
}
.Sponspors-details {
  text-align: center;
}
.sponspors img {
  margin-left: 20px;
  margin: 50px;
}
.footer {
  background-color: #fff4e7;
  border-radius: 8px;
  margin-right: 80px;
  margin-left: 80px;
}
h5 {
  text-align: center;
  padding: 40px;
}
