body {
  margin: 0px;
  box-sizing: border-box;
}
.Container {
  background: rgba(255, 144, 14, 0.1);
  padding-bottom: 50px;
  margin-bottom: 50px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
h3 {
  margin-left: 80px;
}
.navbar-list {
  margin: 20px;
  margin-right: 80px;
}
span {
  margin: 10px;
}
.banner-details {
  text-align: center;
}
button {
  width: 110px;
  height: 44px;
  border: none;
  background-color: #ff900e;
  color: white;
  border-radius: 8px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.banner img {
  width: 87%;
  margin-left: 82px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  justify-items: center;
}
.Features-details {
  text-align: center;
  display: grid;
  justify-items: center;
  grid-column: 1/1;
  grid-row: 1/1;
}
.footer {
  background-color: #fff4e7;
  width: 100%;
  border-radius: 8px;
}
h4 {
  text-align: center;
  padding: 40px;
  margin: 50px;
}
